<!-- Main Content -->
<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <form novalidate>
      <div class="control-group">
        <div class="form-group">
          <label>Title</label>
        </div>
      </div>
      <div class="control-group">
        <div class="form-group">
          <label>Description</label>
        </div>
      </div>
      <br>
      <div class="alert alert-success pointer" *ngIf="success" routerLink="/home" role="alert">
        You're entry was successfully posted! Click here to go Home.
      </div>
      <div class="alert alert-danger pointer" *ngIf="failure" routerLink="/author-post" role="alert">
        An unexpected error occured while submitting your entry. Please refresh your browser and try again.
      </div>
      <div class="form-group text-center mx-auto" *ngIf="!submitted">
        <button class="btn btn-secondary" (click)="submit();">Submit</button>
      </div>
    </form>
  </div>
</div>
